<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Sutapu Admin</a>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <form accept-charset="UTF-8" action="#" class="form-signin" method="post">
      <h2 class="form-signin-heading">Sign in</h2>
      <input class="required input-block-level" name="user[username]" placeholder="*Username" size="50" type="text">
      <input class="required input-block-level" name="user[password]" placeholder="*Password" size="50" type="password">
      <button class="btn-large btn-block btn" name="commit" type="submit">Sign in</button>
    </form>
  </div>
</div>