<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Sutapu Admin</a>
    </div>
  </div>
</div>

<form class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input type="text" class="input-block-level" placeholder="Email address" name='email'>
  <input type="password" class="input-block-level" placeholder="Password" name='password'>
  <button class="login btn btn-large btn-primary btn-block">Sign in</button>
</form>