<div class="well nav-side">
  <ul class="nav nav-list">
    <li class="nav-header">Sutapu Admin</li>
    <li class=<%= menu == 'index'  ? 'active' : '' %>><a href="/admin"><i class="icon-user"></i> Dashboard</a></li>
    <li class=<%= menu == 'Users'  ? 'active' : '' %>><a href="/admin/users"><i class="icon-user"></i> Users</a></li>
    <li class=<%= menu == 'Topics' ? 'active' : '' %>><a href="/admin/topics"><i class="icon-check"></i> Topics</a></li>
    <li class=<%= menu == 'Posts'  ? 'active' : '' %>><a href="/admin/posts"><i class="icon-pencil"></i> Posts</a></li>
    <li class="divider"></li>
    <li class=""><a href="gallery.htm"><i class="icon-picture"></i> Gallery</a></li>
    <li class=""><a href="settings.htm"><i class="icon-cog"></i> Settings</a></li>
    <li class="nav-header">Your Account</li>
    <li class=""><a href="profile.htm"><i class="icon-user"></i> Profile</a></li>
    <li class=""><a href="settings.htm"><i class="icon-cog"></i> Settings</a></li>
  </ul>
</div>