body{
  padding: 60px 0;
  background: #f2f2f2;
}
.sidebar-nav {
  padding: 9px 0;
}
.navbar-inner{
  background: #48B855;
  border: none;
}
.container-fluid {
  padding: 10px 30px;
}  
.navbar .brand{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: bold;
}
.login-form, .update-form{
  padding: 60px 20px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
.update-form{
  padding: 30px 20px;
}  
.for-signup-form{
  display: none;
}
.btn-login, .btn-signup{
  width: 223px;
}
.btn-update{
  width: 285px;
}
.btn-update.btn-disable, .btn-update.btn-disable:hover, .btn-update.btn-disable:active, .btn-disable.btn-success:not(.active):hover{
  background: #ccc;
  border: 1px solid #aaa;
  color: #999;
  cursor: default;
}
.select-file{
  background: white;
  border: 1px solid #CCC;
  min-height: 30px !important;
}
.avatar-big{
  width: 100px;
  height: 100px;
  margin: 0 20px 0 0;
}
.login-form input{
  padding: 7px;
}
.login-form input:focus{
  border-color: #48B855;
}  
.btn-success{
  background: #48B855;
  border-color: #409705;
}
.btn-success:not(.active):hover{
  background: #59AF62;
  border-color: #3B8806;
}
.login-form label.error {
  color: red;
  padding: 4px 8px;
  margin-top: 2px;
  margin-top: -55px;
  position: absolute;
}
.login-form label.valid, .login-form label.error.valid {
  display: none;
  text-indent: -9999px;
}
.navbar .dropdown-toggle{
  padding: 2px 6px;
}
.navbar .nav > li > a{
  color: #f2f2f2;
}
.user-name{
  padding: 2px 8px;
}
.pages{
  display: none;
}


@media (max-width: 480px) {
  body{
    padding: 0; 
  }  
  .login-form {
    max-width: 200px;
  }
  .login-form label.error {
    color: red;
    padding: 4px 8px;
    margin-top: 2px;
    margin-top: -5px;
    position: absolute;
  }
  .login-form label.valid, .login-form label.error.valid{
    display: none;
    text-indent: -9999px;
  }
} 

@media (max-width: 979px){
  body{
    min-height: 580px;
    padding: 0; 
  }
}